# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
.Python

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  <https://pyinstaller.readthedocs.io/en/latest/usage.html#columns-and-rows-of-the-generated-executable>
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
*.egg-info/
.reports/
.datadog/

# VS Code
.vscode/

# IDE
.idea/
*.swp
*.swo

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Local Dependencies
.venv/
venv/
env/
ENV/

# Python envs
*.env
.env

# Outputs
outputs/
*.pdf
*.docx

# Database
*.db

# Configuration
config.toml

# Cached sessions (LinkedIn cookies etc.)
cache/